@import "../../../../styles/settings";

.inputSelect {
    width: 10em;

    @include displayFlex(
        center,
        center,
        column,
        none,
        0.5em
    );

    h1 {
        font-size: 0.7em;
        font-weight: 400;
    }
}