//* Colores.
$color1: #0F0F13;
$color2: #FFFFFF;
$color3: #393A42;
$color4: #8350C5;
$color5: #EBE545;
$color6: #656776;
$color7: #151618;
$color8: #FCDEDC;
$color9: #E85047;
$color10:#1B1920;

//* Fuente.
$mainFont: "Poppins", sans-serif;