@import "../../../../styles/settings";

.header {
    width: 100%;
    height: 5.6em;
    border-bottom: 1px solid $color3;
    @include displayFlex(
        center,
        center,
        none,
        none,
        0
    );

    &__container {
        width: 100%;
        height: 100%;
        max-width: 90em;
        padding: 1em;
        box-sizing: border-box;

        @include displayFlex(
            center,
            center,
            none,
            none,
            0
        );

        &__user {
            width: 20%;
            height: 100%;

            @include displayFlex(
                center,
                flex-start,
                none,
                none,
                1em
            );

            div {
                width: 2.563em;
                height: 2.563em;
                border-radius: 50px;
                overflow: hidden;
                background-color: gray;

                @include displayFlex(
                    center,
                    center,
                    none,
                    none,
                    0
                );

                img {
                    width: 100%;
                    object-fit: cover;
                }
            }

            h2 {
                font-family: $mainFont;
                font-size: 1em;
                font-weight: 500;
                color: $color4;
            }
        }

        &__logo {
            width: 60%;
            height: 100%;

            @include displayFlex(
                center,
                center,
                none,
                none,
                0.5em
            );

            img {
                width: 4%;
                filter: drop-shadow(0 0 10px rgba( 131, 80, 197, 0.5 ));
            }

            h1{
                font-family: $mainFont;
                font-weight: 600;
                font-size: 1em;
                color: $color2;
            }
        }

        &__buttonLogOut {
            width: 20%;
            height: 100%;

            @include displayFlex(
                center,
                flex-end,
                none,
                none,
                0
            );

            button {
                padding: 0.5em 1.5em 0.5em 1.5em;
                box-sizing: border-box;
                background-color: $color4;
                border: none;
                border-radius: 5px;
                cursor: pointer;

                font-family: $mainFont;
                font-size: 0.9em;
                font-weight: 400;
                color: $color2;
            }
        }
    }
}